.modal-buy-now__backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(248, 211, 78, 0.252);
}

.modal-buy-now {
    display: block;
    position: absolute; 
    margin-top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    
    @media screen and (max-width: 479px) {
        max-width: 100%;
        min-height: 986px;
        overflow-y: scroll;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 280px;
        height: 986px;
        overflow-y: scroll;
    }
    @media screen and (min-width: 768px) {
        width: 568px; 
        min-height: 644px;
    } 
}

.modal-buy-now__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: white-color;
    border: none;
} 

